<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lancamentoCartao">
            <h2><span jhiTranslate="gfpApp.lancamentoCartao.detail.title">Lancamento Cartao</span> {{lancamentoCartao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gfpApp.lancamentoCartao.dataCompra">Data Compra</span></dt>
                <dd>
                    <span>{{lancamentoCartao.dataCompra | date:'dd/MM/yyyy'}}</span>
                </dd>
                <dt><span jhiTranslate="gfpApp.lancamentoCartao.mesFatura">Mes Fatura</span></dt>
                <dd>
                    <span>{{lancamentoCartao.mesFatura | date:'MM/yyyy'}}</span>
                </dd>
                <dt><span jhiTranslate="gfpApp.lancamentoCartao.descricao">Descricao</span></dt>
                <dd>
                    <span>{{lancamentoCartao.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="gfpApp.lancamentoCartao.valor">Valor</span></dt>
                <dd>
                    <span>{{lancamentoCartao.valor | number:'1.2-2'}}</span>
                </dd>
                <dt><span jhiTranslate="gfpApp.lancamentoCartao.contaPagamento">Conta Pagamento</span></dt>
                <dd>
                    <div *ngIf="lancamentoCartao.contaPagamento">
                        <a [routerLink]="['/conta-pagamento', lancamentoCartao.contaPagamento?.id, 'view']">{{lancamentoCartao.contaPagamento?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lancamento-cartao', lancamentoCartao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
