<div>
    <h2 id="page-heading">
        <span jhiTranslate="gfpApp.lancamentoCartao.home.title">Lancamento Cartaos</span> - {{contaPagamento.nome}}
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lancamento-cartao" [routerLink]="['/lancamento-cartao', contaPagamento?.id, 'new' ]">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gfpApp.lancamentoCartao.home.createLabel">
            Create new Lancamento Cartao
            </span>
        </button>
        <button id="jh-return" class="btn btn-primary float-right" [routerLink]="['/conta-pagamento', contaPagamento?.id, 'view' ]">
            <fa-icon [icon]="'arrow-left'"></fa-icon>
            <span  jhiTranslate="entity.action.back">
            Back
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="lancamentoCartaos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataCompra"><span jhiTranslate="gfpApp.lancamentoCartao.dataCompra">Data Compra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mesFatura"><span jhiTranslate="gfpApp.lancamentoCartao.mesFatura">Mes Fatura</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descricao"><span jhiTranslate="gfpApp.lancamentoCartao.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valor" class="text-right"><span jhiTranslate="gfpApp.lancamentoCartao.valor">Valor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let lancamentoCartao of lancamentoCartaos ;trackBy: trackId">
                <td><a [routerLink]="['/lancamento-cartao', lancamentoCartao.id, 'view' ]">{{lancamentoCartao.id}}</a></td>
                <td>{{lancamentoCartao.dataCompra | date:'dd/MM/yyyy'}}</td>
                <td>{{lancamentoCartao.mesFatura | date:'MM/yyyy'}}</td>
                <td>{{lancamentoCartao.descricao}}</td>
                <td class="text-right">{{lancamentoCartao.valor | number:'1.2-2'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/lancamento-cartao', lancamentoCartao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lancamento-cartao', lancamentoCartao.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'lancamento-cartao', { outlets: { popup: lancamentoCartao.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
