<div>
    <h2 id="page-heading">
        <span jhiTranslate="gfpApp.despesa.home.title">Despesas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-despesa" [routerLink]="['/despesa/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gfpApp.despesa.home.createLabel">
            Create new Despesa
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="despesas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataDespesa"><span jhiTranslate="gfpApp.despesa.dataDespesa">Data Despesa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mesReferencia"><span jhiTranslate="gfpApp.despesa.mesReferencia">Mes Referencia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descricao"><span jhiTranslate="gfpApp.despesa.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parcela" class="text-right"><span jhiTranslate="gfpApp.despesa.parcela">Parcela</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantidadeParcelas" class="text-right"><span jhiTranslate="gfpApp.despesa.quantidadeParcelas">Quantidade Parcelas</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valor" class="text-right"><span jhiTranslate="gfpApp.despesa.valor">Valor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contaPagamento.nome"><span jhiTranslate="gfpApp.despesa.contaPagamento">Conta Pagamento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="categoriaDespesa.nome"><span jhiTranslate="gfpApp.despesa.categoriaDespesa">Categoria Despesa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let despesa of despesas ;trackBy: trackId">
                <td><a [routerLink]="['/despesa', despesa.id, 'view' ]">{{despesa.id}}</a></td>
                <td>{{despesa.dataDespesa | date:'dd/MM/yyyy'}}</td>
                <td>{{despesa.mesReferencia | date:'MM/yyyy'}}</td>
                <td>{{despesa.descricao}}</td>
                <td class="text-right">{{despesa.parcela}}</td>
                <td class="text-right">{{despesa.quantidadeParcelas}}</td>
                <td class="text-right">{{despesa.valor | number:'1.2-2'}}</td>
                <td>
                    <div *ngIf="despesa.contaPagamento">
                        <a [routerLink]="['../conta-pagamento', despesa.contaPagamento?.id, 'view' ]" >{{despesa.contaPagamento?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="despesa.categoriaDespesa">
                        <a [routerLink]="['../categoria-despesa', despesa.categoriaDespesa?.id, 'view' ]" >{{despesa.categoriaDespesa?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/despesa', despesa.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/despesa', despesa.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'despesa', { outlets: { popup: despesa.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
