<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contaPagamento">
            <h2><span jhiTranslate="gfpApp.contaPagamento.detail.title">Conta Pagamento</span> {{contaPagamento.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gfpApp.contaPagamento.nome">Nome</span></dt>
                <dd>
                    <span>{{contaPagamento.nome}}</span>
                </dd>
                <dt><span jhiTranslate="gfpApp.contaPagamento.tipoConta">Tipo Conta</span></dt>
                <dd>
                    <span jhiTranslate="{{'gfpApp.TipoConta.' + contaPagamento.tipoConta}}">{{contaPagamento.tipoConta}}</span>
                </dd>
                <dt><span jhiTranslate="gfpApp.contaPagamento.usuario">Usuario</span></dt>
                <dd>
                    <span>{{contaPagamento.usuario}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/conta-pagamento', contaPagamento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
