<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-conta-pagamento-heading" jhiTranslate="gfpApp.contaPagamento.home.createOrEditLabel">Create or edit a Conta Pagamento</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!contaPagamento.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gfpApp.contaPagamento.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome').invalid && (editForm.get('nome').dirty || editForm.get('nome').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gfpApp.contaPagamento.tipoConta" for="field_tipoConta">Tipo Conta</label>
                    <select class="form-control" name="tipoConta" formControlName="tipoConta" id="field_tipoConta">
                        <option value="CARTAO_CREDITO">{{'gfpApp.TipoConta.CARTAO_CREDITO' | translate}}</option>
                        <option value="BANCO">{{'gfpApp.TipoConta.BANCO' | translate}}</option>
                        <option value="VIRTUAL">{{'gfpApp.TipoConta.VIRTUAL' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('tipoConta').invalid && (editForm.get('tipoConta').dirty || editForm.get('tipoConta').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tipoConta').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gfpApp.contaPagamento.usuario" for="field_usuario">Usuario</label>
                    <input type="text" class="form-control" name="usuario" id="field_usuario"
                           formControlName="usuario"/>
                    <div *ngIf="editForm.get('usuario').invalid && (editForm.get('usuario').dirty || editForm.get('usuario').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('usuario').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
